@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Aqui tu aprende tudo sobre ASP.NET<a href="https://docs.microsoft.com/aspnet/core">Viva!</a>.</p>
</div>
